<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/home.css">
  <link rel="icon" type="image/png" href="images/run.png">
  <script src="scripts/client-validation.js" defer> </script>
  <title>Personal Fitness Tracker</title>
</head>

<body>
  <main>
    <header>
      <h2>Personal Fitness Tracker</h2>
    </header>
    
    <form action="summary" method="post" id="workout-form">
      
      <fieldset>
        <legend>Workout Type:</legend>
        <select id="type" name="type">
          <option value="none">-- Select a Workout --</option>
          <option value="Running">Running</option>
          <option value="Weightlifting">Weightlifting</option>
          <option value="Yoga">Yoga</option>
          <option value="Cycling">Cycling</option>
          <option value="Other">Other</option>
        </select>
        <span class="err" id="err-type">Please select a valid workout type.</span>
      </fieldset>

      <fieldset>
        <legend>Duration (minutes):</legend>
        <input id="duration" name="duration" type="text">
        <span class="err" id="err-duration">Please enter a valid duration in minutes.</span>
      </fieldset>
      
      <fieldset>
        <legend>Intensity Level:</legend>
        <div id="intensityDiv">
          <label><input name="intensity" type="radio" value="Low"> Low</label>
          <label><input name="intensity" type="radio" value="Medium"> Medium</label>
          <label><input name="intensity" type="radio" value="High"> High</label>
        </div>
        <span class="err" id="err-intensity">Please select a valid intensity level.</span>
      </fieldset>
        
      <fieldset>
        <legend>Date:</legend>
        <input id="date" name="date" type="date">
        <span class="err" id="err-date">Please select a valid date.</span>
      </fieldset>
    
       <fieldset>
        <legend>Notes:</legend>
        <textarea id="notes" name="notes" rows="4" placeholder="Additional comments..."></textarea>
      </fieldset>
    
      <button type="submit">Log Workout</button>

    </form>
    </main>
  
</body>
</html>